body {
    font-family: "Delicious", sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

h1, h2, span.important {
    font-family: "Delicious Bold", sans-serif;
}
h3 {
    font-size: 1em;
}
h1, h2, h3 {
    margin: 0.2em 0;
}
div.chart {
    width: 100%;
}
div.module {
    margin-top: 4em;
    clear: both;
    overflow: hidden;
}
div.content {
    position: relative;
    float: left;
    width: 50%;
}
div.description {
    position: relative;
    text-align: right;
    float: left;
    width: 25%;
    margin-right: 4em;
}
div#footer {
    text-align: center;
}