body {
    font-family: "Delicious", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

h1, span.important {
    font-family: "Delicious Bold", sans-serif;
}

h1, h2, h3 {
    margin: 0.2em 0;
}

div.section {
    margin: 1em 0 1em 2em;
}

div#outer {
    text-align: center;
}

a {
    color: #86ff1d;
}

div#inner {
    text-align: left;
    padding: 0 0 2em 0;
}

div#footer {
    text-align: right;
    padding: 2em 0;
}

div.content {
    border: 1px solid #fff;
    width: 760px;
    margin: 2em auto;
}

div.chart {
    margin: 0 auto;
}

img#grails-logo {
    margin-right: 2em;
    vertical-align: middle;
}